<h3>{{productsTableCtrl.supplier.companyName}}</h3>

<div ng-if="!productsTableCtrl.isLoading" class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th> ID </th>
                <th> Nombre </th>
                <th><a>Categoría</a></th>
                <th><a>Precio</a></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="product in productsTableCtrl.paginator.objBypage">
                <td>{{product.id}}</td>
                <td>{{product.name}}</td>
                <td>{{product.categoryName()}}</td>
                <td>{{product.unitPrice}}</td>
                <td>
                    <a class="text-primary" style="cursor: pointer;" uib-popover="Editar" popover-trigger="'mouseenter'"
                        ng-click="productsTableCtrl.goTo(product.id)">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<paginator-component ng-if="!productsTableCtrl.isLoading" is-loading="productsTableCtrl.isLoading" 
current-page="productsTableCtrl.paginator.currentPage" last-page="productsTableCtrl.paginator.getLastPage()"></paginator-component>  