<div class="container space">

    <h2>Orden</h2>

    <div ng-if="orderEditCtrl.isLoading" class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <div ng-if="!orderEditCtrl.isLoading" class="row justify-content-center mt-3">
        <form name="formEdit" ng-submit="orderEditCtrl.submit()" class="col-md-12">
            <div class="card">
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary" ng-disabled="formEdit.$invalid">Guardar</button>
                    <button type="button" class="btn btn-secondary" ng-click="orderEditCtrl.goBack()">Atrás</button>
                </div>
                <div ng-if="!orderEditCtrl.isNew" class="card-header">
                    <label for="id">ID</label>

                    <input ng-if="!orderEditCtrl.isNew" type="number" class="form-control" placeholder="Identificación"
                        ng-model="orderEditCtrl.orderModel.id" readonly>

                    <input ng-if="orderEditCtrl.isNew" id="id" name="id" type="number" class="form-control"
                        placeholder="Identificación" ng-model="orderEditCtrl.orderModel.id" readonly>

                    <small ng-if="formEdit.id.$invalid && (formEdit.id.$touched||formEdit.id.$dirty)"
                        class="form-text text-danger">Debe ingresar el id.</small>
                </div>
                <div class="card-body">                   
                    <div class="mb-3">
                        <label for="customer">Cliente:</label>
                        <select id="customer" name="customer" class="form-select form-control"
                            ng-model="orderEditCtrl.orderModel.customerId" ng-change="orderEditCtrl.setCompanyName()">
                            <option ng-repeat="item in orderEditCtrl.customersList" ng-value="item.id">
                                {{item.contactName + " ("+ item.id + ")"}}</option>
                        </select>
                        <small ng-if="orderEditCtrl.orderModel.customerId == null && formEdit.customer.$touched"
                            class="form-text text-danger">Debe seleccionar un cliente.</small>
                    </div>

                    <div class="mb-3">
                        <label for="shipName">Nombre de la empresa:</label>
                        <input id="shipName" name="shipName" type="text" class="form-control"
                            placeholder="Nombre de Envío" ng-model="orderEditCtrl.orderModel.shipName" readonly required>
                        <small
                            ng-if="formEdit.shipName.$invalid && (formEdit.shipName.$touched || formEdit.shipName.$dirty)"
                            class="form-text text-danger">Debe ingresar el nombre de envío.</small>
                    </div>                    

                    <div class="mb-3" ng-if="orderEditCtrl.employeesList.length > 0">
                        <label for="employee">Empleado:</label>
                        <select id="employee" name="employee" class="form-select form-control"
                            ng-model="orderEditCtrl.orderModel.employeeId">
                            <option ng-repeat="item in orderEditCtrl.employeesList" ng-value="item.id">
                                {{item.firstName + " " + item.lastName}}</option>
                        </select>
                        <small ng-if="orderEditCtrl.orderModel.employeeId == null && formEdit.employee.$touched"
                            class="form-text text-danger">Debe seleccionar un empleado.</small>
                    </div>

                    <div class="mb-3">
                        <label for="orderDate">Fecha de la orden:  <span class="text-danger">(La entrega se realizará {{orderEditCtrl.shippedDays + 2}} días habiles depués de la orden)</span> </label>
                        <input id="orderDate" name="orderDate" type="date" class="form-control" ng-change="orderEditCtrl.getDates()"
                            placeholder="Fecha del Pedido" ng-model="orderEditCtrl.orderModel.orderDate" required>
                        <small
                            ng-if="formEdit.orderDate.$invalid && (formEdit.orderDate.$touched || formEdit.orderDate.$dirty)"
                            class="form-text text-danger">Debe ingresar la fecha del pedido.</small>
                    </div>                    

                    <!-- <div class="mb-3">
                        <label for="shippedDate">Fecha de Envío:</label>
                        <input id="shippedDate" name="shippedDate" type="date" class="form-control"
                            placeholder="Fecha de Envío" ng-model="orderEditCtrl.orderModel.shippedDate" required readonly>
                        <small
                            ng-if="formEdit.shippedDate.$invalid && (formEdit.shippedDate.$touched || formEdit.shippedDate.$dirty)"
                            class="form-text text-danger">Debe ingresar la fecha de envío.</small>
                    </div> -->

                    <div class="mb-3">
                        <label for="requiredDate">Fecha entrega:</label>
                        <input id="requiredDate" name="requiredDate" type="date" class="form-control"
                            placeholder="Fecha Requerida" ng-model="orderEditCtrl.orderModel.requiredDate" required readonly>
                        <small
                            ng-if="formEdit.requiredDate.$invalid && (formEdit.requiredDate.$touched || formEdit.requiredDate.$dirty)"
                            class="form-text text-danger">Debe ingresar la fecha requerida.</small>
                    </div>

                    <div class="mb-3">
                        <label for="shipper">Empresa que realiza la entrega:</label>
                        <select id="shipper" name="shipper" class="form-select form-control"
                            ng-model="orderEditCtrl.orderModel.shipVia">
                            <option ng-repeat="item in orderEditCtrl.shippersList" ng-value="item.id">
                                {{item.companyName + " ("+ item.phone + ")"}}</option>
                        </select>
                        <small ng-if="orderEditCtrl.orderModel.shipVia == null && formEdit.shipper.$touched"
                            class="form-text text-danger">Debe seleccionar un repartidor.</small>
                    </div>

                    <div class="mb-3">
                        <label for="freight">Flete:</label>
                        <input id="freight" name="freight" type="text" class="form-control" placeholder="Flete"
                            ng-model="orderEditCtrl.orderModel.freight" required>
                        <small
                            ng-if="formEdit.freight.$invalid && (formEdit.freight.$touched || formEdit.freight.$dirty)"
                            class="form-text text-danger">Debe ingresar el flete.</small>
                    </div>                   

                    <div class="mb-3">
                        <label for="country">País:</label>
                        <input id="country" name="country" type="text" class="form-control" placeholder="País"
                            ng-model="orderEditCtrl.orderModel.shipAddress.country" required>
                        <small
                            ng-if="formEdit.country.$invalid && (formEdit.country.$touched || formEdit.country.$dirty)"
                            class="form-text text-danger">Debe ingresar el país.</small>
                    </div>

                    <div class="mb-3">
                        <label for="region">Región:</label>
                        <input id="region" name="region" type="text" class="form-control" placeholder="Región"
                            ng-model="orderEditCtrl.orderModel.shipAddress.region" required>
                        <small ng-if="formEdit.region.$invalid && (formEdit.region.$touched || formEdit.region.$dirty)"
                            class="form-text text-danger">Debe ingresar la región.</small>
                    </div>

                    <div class="mb-3">
                        <label for="city">Ciudad:</label>
                        <input id="city" name="city" type="text" class="form-control" placeholder="Ciudad"
                            ng-model="orderEditCtrl.orderModel.shipAddress.city" required>
                        <small ng-if="formEdit.city.$invalid && (formEdit.city.$touched || formEdit.city.$dirty)"
                            class="form-text text-danger">Debe ingresar la ciudad.</small>
                    </div>

                    <div class="mb-3">
                        <label for="street">Dirección:</label>
                        <input id="street" name="street" type="text" class="form-control" placeholder="Nombre de Envío"
                            ng-model="orderEditCtrl.orderModel.shipAddress.street" required>
                        <small ng-if="formEdit.street.$invalid && (formEdit.street.$touched || formEdit.street.$dirty)"
                            class="form-text text-danger">Debe ingresar el nombre de la dirección.</small>
                    </div>

                    <div class="mb-3">
                        <label for="postalCode">Código Postal:</label>
                        <input id="postalCode" name="postalCode" type="text" class="form-control"
                            placeholder="Código Postal" ng-model="orderEditCtrl.orderModel.shipAddress.postalCode"
                            required>
                        <small
                            ng-if="formEdit.postalCode.$invalid && (formEdit.postalCode.$touched || formEdit.postalCode.$dirty)"
                            class="form-text text-danger">Debe ingresar el código postal.</small>
                    </div>                    
                </div>

                <detail-component details-array="orderEditCtrl.orderModel.details"
                    list-of-detailed-products="orderEditCtrl.updatedDetails"></detail-component>

                <div>
                    <button type="submit" class="btn btn-primary" ng-disabled="formEdit.$invalid">Guardar</button>
                    <button type="button" class="btn btn-secondary" ng-click="orderEditCtrl.goBack()">Atrás</button>
                </div>
            </div>
        </form>
    </div>
</div>