<div class="container space">
    <h2>Ordenes</h2>

    <searcher-component rows-by-page="10" message="orderCtrl.message" is-found="orderCtrl.isFound"
        is-loading="orderCtrl.isLoading"></searcher-component>

    <div ng-if="!orderCtrl.isLoading" class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th></th>
                    <th></th>
                    <th>
                        ID
                        <a style="cursor: pointer;" ng-click="orderCtrl.sortColumn(0)"
                        uib-popover="Ordenar" popover-trigger="'mouseenter'">
                            <span class="ml-2" ng-if="orderCtrl.orderArrays[0]">
                                <i class="fa-solid fa-sort-up"></i></span>
                            <span class="ml-2" ng-if="!orderCtrl.orderArrays[0]">
                                <i class="fa-solid fa-sort-down"></i></span>
                        </a>
                    </th>
                    <th>Cliente ID
                        <a style="cursor: pointer;" ng-click="orderCtrl.sortColumn(1)"
                        uib-popover="Ordenar" popover-trigger="'mouseenter'">
                            <span class="ml-2" ng-if="orderCtrl.orderArrays[1]">
                                <i class="fa-solid fa-sort-up"></i></span>
                            <span class="ml-2" ng-if="!orderCtrl.orderArrays[1]">
                                <i class="fa-solid fa-sort-down"></i></span>
                        </a>
                    </th>
                    <th>Fecha Orden
                        <a style="cursor: pointer;" ng-click="orderCtrl.sortColumn(2)"
                        uib-popover="Ordenar" popover-trigger="'mouseenter'">
                            <span class="ml-2" ng-if="orderCtrl.orderArrays[2]">
                                <i class="fa-solid fa-sort-up"></i></span>
                            <span class="ml-2" ng-if="!orderCtrl.orderArrays[2]">
                                <i class="fa-solid fa-sort-down"></i></span>
                        </a>
                    </th>
                    <th>Fecha Envío
                        <a style="cursor: pointer;" ng-click="orderCtrl.sortColumn(3)"
                        uib-popover="Ordenar" popover-trigger="'mouseenter'">
                            <span class="ml-2" ng-if="orderCtrl.orderArrays[3]">
                                <i class="fa-solid fa-sort-up"></i></span>
                            <span class="ml-2" ng-if="!orderCtrl.orderArrays[3]">
                                <i class="fa-solid fa-sort-down"></i></span>
                        </a>
                    </th>
                    <th>Fecha Requerida
                        <a style="cursor: pointer;" ng-click="orderCtrl.sortColumn(4)"
                        uib-popover="Ordenar" popover-trigger="'mouseenter'">
                            <span class="ml-2" ng-if="orderCtrl.orderArrays[4]">
                                <i class="fa-solid fa-sort-up"></i></span>
                            <span class="ml-2" ng-if="!orderCtrl.orderArrays[4]">
                                <i class="fa-solid fa-sort-down"></i></span>
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="order in orderCtrl.arrayOfOrdersByPage">
                    <td>{{orderCtrl.getIndex(order.id)}}</td>
                    <td>
                        <a class="text-primary" style="cursor: pointer;" uib-popover="Editar"
                            popover-trigger="'mouseenter'" ng-click="orderCtrl.goTo(order.id)">
                            <i class="fa-solid fa-pencil"></i></a>
                    </td>
                    <td>
                        <a class="text-danger" style="cursor: pointer;" uib-popover="Eliminar"
                            popover-trigger="'mouseenter'" ng-click="orderCtrl.deleteOrder(order.id)">
                            <i class="fa-solid fa-trash"></i></a>
                    </td>
                    <td>{{order.id}}</td>
                    <td>{{order.customerId}}</td>
                    <td>{{order.orderDate}}</td>
                    <td>{{order.shippedDate}}</td>
                    <td>{{order.requiredDate}}</td>
                </tr>
            </tbody>
        </table>
    </div>


    <paginator-component ng-if="!orderCtrl.isLoading" is-loading="orderCtrl.isLoading"
        current-page="orderCtrl.currentPage" last-page="orderCtrl.getLastPage()"></paginator-component>
</div>