<div class="card mt-3">
    <div class="card-header" style="display: flex; flex-direction: row; justify-content: space-between;">
        <h4>Productos</h4>
        <button type="button" uib-popover="{{detailCtrl.info}}" class="btn btn-primary"
            ng-click="detailCtrl.add()">Agregar</button>
    </div>

    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th> 
                    <th>ID</th>
                    <th>Nombre</th>                   
                    <th>Cantidad <span class="text-danger">(Disponibles)</span></th>                   
                    <th>Descuento (%)</th>  
                    <th>Precio</th>
                    <th style="text-align: end;">Total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>               
                <tr ng-repeat="product in detailCtrl.listOfDetailedProducts">
                    <td>{{$index+1}}</td> 
                    <td ng-if="!product.isEditable">{{product.productId}}</td> 
                    <td ng-if="!product.isEditable">{{product.name}}</td>
                    <td ng-if="!product.isEditable">{{product.quantity}} <span class="text-danger">({{product.unitsInStock}})</span></td>
                    <td ng-if="!product.isEditable">{{product.discount * 100}} %</td>                   
                    <!--  -->
                    <td ng-if="product.isEditable">{{product.productId}}</td>
                    <td ng-if="product.isEditable">
                        <select class="form-control" name="" id="" ng-change="product.setProduct(detailCtrl.productId)" ng-model="detailCtrl.productId">
                            <option ng-value="item.id" ng-repeat="item in detailCtrl.filterArrayOfProducts">{{item.name}} ({{item.unitsInStock}})</option>
                        </select>
                    </td>
                    <td ng-if="product.isEditable" style="display: flex; flex-direction: row; justify-content: flex-start; align-items:start;">
                        <input class="form-control" style="width: 8rem;" ng-model="product.quantity" type="number" name="" id="" min="1" max="{{product.unitsInStock}}">
                        <span class="text-danger" style="margin-left: 1rem;">({{product.getDiff()}})</span>
                    </td>
                    <td ng-if="product.isEditable">
                        <input class="form-control" style="width: 8rem;" type="number" name="" id="" min="0" max="100" ng-model="product.percent">                       
                    </td>
                    <!--  -->
                    <td>{{product.unitPrice}}</td>
                    <td style="text-align: end;">{{product.totalPrice() | number:2 }}</td>
                    <td style="text-align: end;">
                        <a ng-if="product.isEditable" style="cursor: pointer; margin-right: 2rem;" ng-click="product.toggle()"><i class="fa-solid fa-check"></i></a>
                        <a ng-if="!product.isEditable" style="cursor: pointer; margin-right: 2rem;" ng-click="product.toggle()"><i class="fa-solid fa-pencil"></i></a>
                        <a class="text-danger" style="cursor: pointer;" ng-click="detailCtrl.remove(product.productId)"><i class="fa-solid fa-trash-can"></i></a>
                    </td>
                </tr>
                <tr>
                    <td></td>                    
                    <td></td>
                    <td></td>                   
                    <td></td>
                    <td></td>
                    <td></td> 
                    <td style="text-align: end;"><strong>{{detailCtrl.getGreatTotal() | number:2 }}</strong></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>