<div class="card mt-3">
    <div class="card-header" style="display: flex; flex-direction: row; justify-content: space-between;">
        <h4>Productos</h4>
        <button type="button" class="btn btn-primary" ng-click="detailCtrl.add()">Agregar</button>
    </div>

    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th></th>
                    <th></th>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Descuento</th>
                    <th>Disponibles</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="product in detailCtrl.listOfDetailedProducts">
                    <td>{{$index+1}}</td>
                    <td>
                        <a class="text-primary" style="cursor: pointer;" ng-if="!product.isEditable" ng-click="product.toggle()">
                            <i class="fa-solid fa-pencil"></i>
                        </a>
                        <a class="text-primary" style="cursor: pointer;" ng-if="product.isEditable" ng-click="product.toggle()">
                            <i class="fa-solid fa-floppy-disk"></i>
                        </a>                       
                    </td>
                    <td>
                        <a class="text-danger" style="cursor: pointer;"
                            ng-click="detailCtrl.remove(product.productId)">
                            <i class="fa-solid fa-trash"></i></a>
                    </td>
                    <td>{{product.productId}}</td>
                    <td>
                        <span ng-if="!product.isEditable"> {{product.name}}</span>
                        <select ng-if="product.isEditable" class="form-select form-control" ng-model="detailCtrl.listId[$index]" ng-change="product.setProduct(detailCtrl.listId[$index])">
                            <option ng-repeat="item in detailCtrl.rawArrayOfProducts" ng-value="item.id">{{ item.name+ " (" + item.unitsInStock + ")"}}</option>
                        </select>
                    </td>
                    <td>{{product.unitPrice}}</td>
                    <td>{{product.quantity}}</td>
                    <td>{{product.discount}}</td>
                    <td>
                        <span style=" margin-left: 1.75rem;">
                            {{product.unitsInStock}}
                        </span>
                        <a class="text-primary" style="cursor: pointer; margin-left: 1.75rem;" ng-click="product.addUnits()">
                            <i class="fa-solid fa-plus"></i>
                        </a>
                        <a class="text-primary" style="cursor: pointer; margin-left: 1.75rem;" ng-click="product.subUnits()">
                            <i class="fa-solid fa-minus"></i>
                        </a>
                    </td>
                    <td>{{product.totalPrice() | number:2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><strong>{{detailCtrl.getGreatTotal() | number:2 }}</strong></td>
                </tr>
            </tbody>
        </table>      
    </div>
</div>