<div class="container space">

    <h2>{{customerEditCtrl.isNew?'Nuevo':'Actualizar'}} Cliente</h2>

    <div ng-if="customerEditCtrl.isLoading" class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <div ng-if="!customerEditCtrl.isLoading" class="row justify-content-center mt-3">
        <div class="col-md-12">
            <form name="formEdit" ng-submit="customerEditCtrl.submit()" class="card">
                <div class="card-header">
                    <label for="id">ID</label>
                    <input ng-if="!customerEditCtrl.isNew" type="text" class="form-control" placeholder="Identificación"
                        ng-model="customerEditCtrl.id" readonly>

                    <input ng-if="customerEditCtrl.isNew" id="id" name="id" type="text" class="form-control"
                        placeholder="Identificación" ng-model="customerEditCtrl.id" required>

                    <small ng-if="formEdit.id.$invalid && (formEdit.id.$touched||formEdit.id.$dirty)"
                        class="form-text text-danger">Debe ingresar el id.</small>
                </div>
                <div class="card-body">
                    <div ng-if="!customerEditCtrl.isNew"
                        style="display: flex; flex-direction: row; justify-content: flex-end;">
                        <button type="button" class="btn btn-primary"
                            ng-click="customerEditCtrl.open()">Órdenes</button>
                    </div>
                    <div class="mb-3">
                        <label for="companyName">Compañía:</label>
                        <input id="companyName" name="companyName" type="text" class="form-control"
                            placeholder="Compañía" ng-model="customerEditCtrl.companyName" required>
                        <small
                            ng-if="formEdit.companyName.$invalid && (formEdit.companyName.$touched || formEdit.companyName.$dirty)"
                            class="form-text text-danger">Debe ingresar el nombre de la compañía.</small>
                    </div>
                    <div class="mb-3">
                        <label for="firstName">Nombre:</label>
                        <input id="firstName" name="firstName" type="text" class="form-control" placeholder="Nombre"
                            ng-model="customerEditCtrl.firstName" required>
                        <small
                            ng-if="formEdit.firstName.$invalid && (formEdit.firstName.$touched || formEdit.firstName.$dirty)"
                            class="form-text text-danger">Debe ingresar el nombre del cliente.</small>
                    </div>
                    <div class="mb-3">
                        <label for="lastName">Apellido:</label>
                        <input id="lastName" name="lastName" type="text" class="form-control" placeholder="Apellido"
                            ng-model="customerEditCtrl.lastName" required>
                        <small
                            ng-if="formEdit.lastName.$invalid && (formEdit.lastName.$touched || formEdit.lastName.$dirty)"
                            class="form-text text-danger">Debe ingresar el apellido del cliente.</small>
                    </div>
                    <div class="mb-3">
                        <label for="contactTitle">Cargo:</label>
                        <input id="contactTitle" name="contactTitle" type="text" class="form-control"
                            placeholder="Cargo" ng-model="customerEditCtrl.contactTitle" required>
                        <small
                            ng-if="formEdit.contactTitle.$invalid && (formEdit.contactTitle.$touched || formEdit.contactTitle.$dirty)"
                            class="form-text text-danger">Debe ingresar el cargo.</small>
                    </div>
                    <div class="mb-3">
                        <label for="phone">Teléfono:</label>
                        <input id="phone" name="phone" type="text" class="form-control" placeholder="Teléfono"
                            ng-model="customerEditCtrl.phone" required>
                        <small ng-if="formEdit.phone.$invalid && (formEdit.phone.$touched || formEdit.phone.$dirty)"
                            class="form-text text-danger">Debe ingresar el teléfono.</small>
                    </div>
                    <div class="mb-3">
                        <label for="country">Pais:</label>
                        <input id="country" name="country" type="text" class="form-control" placeholder="Pais"
                            ng-model="customerEditCtrl.country" required>
                        <small
                            ng-if="formEdit.country.$invalid && (formEdit.country.$touched || formEdit.country.$dirty)"
                            class="form-text text-danger">Debe ingresar el pais.</small>
                    </div>
                    <div class="mb-3">
                        <label for="city">Ciudad:</label>
                        <input id="city" name="city" type="text" class="form-control" placeholder="Ciudad"
                            ng-model="customerEditCtrl.city" required>
                        <small ng-if="formEdit.city.$invalid && (formEdit.city.$touched || formEdit.city.$dirty)"
                            class="form-text text-danger">Debe ingresar la ciudad.</small>
                    </div>
                    <div class="mb-3">
                        <label for="postalCode">Código Postal:</label>
                        <input id="postalCode" name="postalCode" type="text" class="form-control"
                            placeholder="Código Postal" ng-model="customerEditCtrl.postalCode" required>
                        <small
                            ng-if="formEdit.postalCode.$invalid && (formEdit.postalCode.$touched || formEdit.postalCode.$dirty)"
                            class="form-text text-danger">Debe ingresar el código postal.</small>
                    </div>
                    <div class="mb-3">
                        <label for="region">Región:</label>
                        <input id="region" name="region" type="text" class="form-control" placeholder="Región"
                            ng-model="customerEditCtrl.region" required>
                        <small ng-if="formEdit.region.$invalid && (formEdit.region.$touched || formEdit.region.$dirty)"
                            class="form-text text-danger">Debe ingresar el nombre de la región.</small>
                    </div>
                    <div class="mb-3">
                        <label for="dirección">Dirección:</label>
                        <input id="dirección" name="street" type="text" class="form-control" placeholder="Dirección"
                            ng-model="customerEditCtrl.street" required>
                        <small ng-if="formEdit.street.$invalid && (formEdit.street.$touched || formEdit.street.$dirty)"
                            class="form-text text-danger">Debe ingresar la dirección.</small>
                    </div>

                    <table-component is-visible="customerEditCtrl.isVisible"
                        customer-id="customerEditCtrl.currentCustomerId"></table-component>

                    <div>
                        <button type="submit" class="btn btn-primary" ng-disabled="formEdit.$invalid">Guardar</button>
                        <button type="button" class="btn btn-secondary"
                            ng-click="customerEditCtrl.goBack()">Atrás</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>