<div class="container space">
    <h2>Clientes</h2>

    <searcher-component rows-by-page="10" message="customerCtrl.message" is-found="customerCtrl.isFound"
    is-loading="customerCtrl.isLoading"></searcher-component>
  
    <div ng-if="!customerCtrl.isLoading" class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th></th>
                    <th></th>
                    <th>
                        Identificación
                        <a style="cursor: pointer;" ng-click="customerCtrl.sortColumn(0)"  uib-popover="Ordenar" popover-trigger="'mouseenter'">
                            <span class="ml-2" ng-if="customerCtrl.orderArrays[0]">
                                <i class="fa-solid fa-sort-up"></i></span>
                            <span class="ml-2" ng-if="!customerCtrl.orderArrays[0]">
                                <i class="fa-solid fa-sort-down"></i></span>
                        </a>
                    </th>
                    <th>Compañía
                        <a style="cursor: pointer;" ng-click="customerCtrl.sortColumn(1)"  uib-popover="Ordenar" popover-trigger="'mouseenter'">
                            <span class="ml-2" ng-if="customerCtrl.orderArrays[1]">
                                <i class="fa-solid fa-sort-up"></i></span>
                            <span class="ml-2" ng-if="!customerCtrl.orderArrays[1]">
                                <i class="fa-solid fa-sort-down"></i></span>
                        </a>
                    </th>
                    <th>Nombre
                        <a style="cursor: pointer;" ng-click="customerCtrl.sortColumn(2)"  uib-popover="Ordenar" popover-trigger="'mouseenter'">
                            <span class="ml-2" ng-if="customerCtrl.orderArrays[2]">
                                <i class="fa-solid fa-sort-up"></i></span>
                            <span class="ml-2" ng-if="!customerCtrl.orderArrays[2]">
                                <i class="fa-solid fa-sort-down"></i></span>
                        </a>
                    </th>
                    <th>Cargo
                        <a style="cursor: pointer;" ng-click="customerCtrl.sortColumn(3)"  uib-popover="Ordenar" popover-trigger="'mouseenter'">
                            <span class="ml-2" ng-if="customerCtrl.orderArrays[3]">
                                <i class="fa-solid fa-sort-up"></i></span>
                            <span class="ml-2" ng-if="!customerCtrl.orderArrays[3]">
                                <i class="fa-solid fa-sort-down"></i></span>
                        </a>
                    </th>
                    <th><a>Teléfono</a></th>
                    <th><a>Pais</a></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="customer in customerCtrl.arrayOfCustomersByPage">
                    <td>{{customerCtrl.getIndex(customer.id)}}</td>
                    <td>
                        <a class="text-primary" style="cursor: pointer;" uib-popover="Editar" popover-trigger="'mouseenter'" 
                         ng-click="customerCtrl.goTo(customer.id)">
                            <i class="fa-solid fa-pencil"></i></a>
                    </td>
                    <td>
                        <a class="text-danger" style="cursor: pointer;"  uib-popover="Eliminar" popover-trigger="'mouseenter'" 
                            ng-click="customerCtrl.deleteCustomer(customer.id)">
                            <i class="fa-solid fa-trash"></i></a>
                    </td>
                    <td> {{customer.id}} </td>
                    <td>{{customer.companyName}}</td>
                    <td>{{customer.contactName}}</td>
                    <td>{{customer.contactTitle}}</td>
                    <td>{{customer.address.phone}}</td>
                    <td>{{customer.address.country}}</td>
                </tr>
            </tbody>
        </table>
    </div>   

    <paginator-component ng-if="!customerCtrl.isLoading" is-loading="customerCtrl.isLoading" current-page="customerCtrl.currentPage" last-page="customerCtrl.getLastPage()"></paginator-component>
    
</div>