<!-- Change password -->

<div ng-if="modalPasswordCtrl.isLoading" data-backdrop="static" class="d-flex justify-content-center" style="height: 10rem; display: flex; flex-direction: column; justify-content: center; align-items: center;">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<form ng-if="!modalPasswordCtrl.isLoading" name="formReset" ng-submit="modalPasswordCtrl.submit()">
  <div class="modal-header">
    <h4>Cambiar contraseña</h4>
  </div>
  <div class="modal-body">

    <div class="form-group">
      <label for="oldPassword">Contraseña anterior:</label>
      <input type="password" class="form-control" id="oldPassword" name="oldPassword" ng-minlength="8"
        ng-model="modalPasswordCtrl.oldPassword" placeholder="Contraseña anterior" required>
      <small class="text-danger"
        ng-if="formReset.oldPassword.$error.required && (formReset.oldPassword.$touched || formReset.oldPassword.$dirty || formReset.$submitted)">
        Debe ingresar la contraseña.
      </small>
      <small class="text-danger"
        ng-if="formReset.oldPassword.$error.minlength && (formReset.oldPassword.$touched || formReset.oldPassword.$dirty || formReset.$submitted)">
        La contraseña debe tener mínimo 8 caracteres.
      </small>
    </div>

    <div class="form-group">
      <label for="password">Contraseña:</label>
      <input type="password" class="form-control" id="password" name="password" ng-minlength="8"
        ng-model="modalPasswordCtrl.password" placeholder="Contraseña" required>
      <small class="text-danger"
        ng-if="formReset.password.$error.required && (formReset.password.$touched || formReset.password.$dirty || formReset.$submitted)">
        Debe ingresar la contraseña.
      </small>
      <small class="text-danger"
        ng-if="formReset.password.$error.minlength && (formReset.password.$touched || formReset.password.$dirty || formReset.$submitted)">
        La contraseña debe tener mínimo 8 caracteres.
      </small>
    </div>

    <div class="form-group">
      <label for="confirm">Confirmar Contraseña:</label>
      <input type="password" class="form-control" id="confirm" name="confirm" ng-model="modalPasswordCtrl.confirm"
        ng-minlength="8" placeholder="Contraseña" required>
      <small class="text-danger"
        ng-if="formReset.confirm.$error.required && (formReset.confirm.$touched || formReset.confirm.$dirty || formReset.$submitted)">
        Debe confirmar la contraseña.
      </small>
      <small class="text-danger"
        ng-if="!formReset.confirm.$error.required && !modalPasswordCtrl.isConfirm() && (formReset.confirm.$touched || formReset.confirm.$dirty || formReset.$submitted)">
        Las contraseñas no coinciden.
      </small>
    </div>

  </div>

  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" ng-disabled="!modalPasswordCtrl.isValidReset()">Aceptar</button>
    <button type="button" class="btn btn-secondary" ng-click="modalPasswordCtrl.cancel()">Cancelar</button>
  </div>
</form>