<div class="container space">
    <h2>Usuarios</h2>

    <searcher-component rows-by-page="usersCtrl.paginator.rowsByPage" message="usersCtrl.message" is-found="usersCtrl.isFound"
    is-loading="usersCtrl.isLoading"></searcher-component>

    <div ng-if="!usersCtrl.isLoading" class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>                    
                    <th>ID</th>
                    <th></th>
                    <th></th>
                    <th>Correo</th>
                    <th>Cambio contraseña</th>
                    <th>Último login</th>                    
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in usersCtrl.paginator.objBypage">    
                    <td>{{user.id}}</td>
                    <td>
                        <a class="text-primary" style="cursor: pointer;" uib-popover="Editar"
                            popover-trigger="'mouseenter'" ng-click="usersCtrl.edit(user.id)">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </a>
                    </td>
                    <td>
                        <a class="text-danger" style="cursor: pointer;" uib-popover="Eliminar"
                            popover-trigger="'mouseenter'" ng-click="usersCtrl.delete(user.id)">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                    </td>
                    <td>{{user.email}}</td>
                    <td>{{user.datePassword | date:'dd-MM-yyyy hh:mm a'}}</td>
                    <td>{{user.lastLogin | date:'dd-MM-yyyy hh:mm a'}}</td>                    
                </tr>
            </tbody>
        </table>
    </div>

    <paginator-component ng-if="!usersCtrl.isLoading" is-loading="usersCtrl.isLoading" current-page="usersCtrl.paginator.currentPage" last-page="usersCtrl.paginator.getLastPage()"></paginator-component>

</div>